* {
	font-family: themify;
	/*border: 1px solid red;*/
}




.Main{
	background-color: windowBackgroundColor;
}

.QTitleBar{
	border-bottom: 1px solid titleBarBorderColor;
	background-color: titleBarBackgroundColor;
	border-top: none;
}
.QTitleBar #Icon{
	color: titleBarIconColor;
}
.QTitleBar #Title{
	color: titleBarTextColor;
}
.QTitleBar .QPushButton{
	color: titleBarButtonAccentuation;
	border-radius: 9px;
	border: none;
}
.QTitleBar .QPushButton:checked, .QTitleBar .QPushButton:pressed, .QTitleBar .QPushButton:hover{
	background-color: titleBarButtonAccentuation;
	color: titleBarBackgroundColor;
}


.QTabWidget::pane{
	border: 1px solid #cecece;
}
.QTabWidget > .QPushButton{
	color: navSocketButtonAccentuation;
	border-radius: 5px;
	border: none;
}
.QTabWidget > .QPushButton:pressed, .QTabWidget > .QPushButton:hover{
	background-color: navSocketButtonAccentuation;
	color: windowBackgroundColor;
}

.QTabBar::tab{
	border: 1px solid navSocketTabNormalBorderColor;
	background-color: navSocketTabBackgroundColor;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: navSocketTextColor;
	padding: 5px;
}
.QTabBar::tab:hover{
	border: 1px solid navSocketTabHoverBorderColor;
}

.QTabBar::tab:selected {
	border: 1px solid navSocketTabHoverBorderColor;
	margin-left: -4px;
	margin-right: -4px;
}
.QTabBar::tab:first:selected{margin-left: 0;}
.QTabBar::tab:last:selected{margin-right: 0;}
.QTabBar::tab:!selected {margin-top: 2px;}
.QTabBar::tab:only-one{margin: 0;}