* {
	font-family: themify;
}
.Main{
	background-color: windowBackgroundColor;
}
/* QTitleBar */
	.QTitleBar{
		border-bottom: 1px solid titleBarBorderColor;
		background-color: titleBarBackgroundColor;
		border-top: none;
	}
	.QTitleBar #Icon{
		color: titleBarIconColor;
		font-size: 16px;
	}
	.QTitleBar #Title{
		color: titleBarTextColor;
		font-size: 16px;
	}
	.QTitleBar .QPushButton{
		color: titleBarButtonAccentuation;
		border-radius: 9px;
		font-size: 16px;
		border: none;
	}
	.QTitleBar .QPushButton:checked, .QTitleBar .QPushButton:pressed, .QTitleBar .QPushButton:hover{
		background-color: titleBarButtonAccentuation;
		color: titleBarBackgroundColor;
		font-size: 12px;
	}
/* QTabWidget */
	.QTabWidget::pane{
		border: none;
		background-color: transparent;
	}
	#NewTabButton{
		color: navSocketButtonAccentuation;
		border-radius: 5px;
		border: none;
	}
	#NewTabButton:pressed, #NewTabButton:hover{
		background-color: navSocketButtonAccentuation;
		color: windowBackgroundColor;
	}

	.QTabBar::tab{
		border: 1px solid navSocketTabNormalBorderColor;
		background-color: navSocketTabBackgroundColor;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		color: navSocketTextColor;
		padding: 5px;
	}
	.QTabBar::tab:hover{
		border: 1px solid navSocketTabHoverBorderColor;
	}
	.QTabBar::tab:selected {
		border: 1px solid navSocketTabHoverBorderColor;
		margin-right: -4px;
		margin-left: -4px;
	}
	.QTabBar::tab:first:selected{margin-left: 0;}
	.QTabBar::tab:last:selected{margin-right: 0;}
	.QTabBar::tab:!selected {margin-top: 2px;}
	.QTabBar::tab:only-one{margin: 0;}
/* QTabWidget Content*/
	.Elements{
		border-bottom: 1px solid navTabElementNormalBottomLine;
		border-top: none;
	}
	.Elements .QLabel{
		color: navTabElementText;
	}
	.Elements:hover{
		border-bottom: 1px solid navTabElementHoverBottomLine;
		border-top: none
	}
/* History Button */
	#HistoryButton{
		border: 1px solid historyButtonBorder;
		color: historyButtonAccentuation;
		border-radius: 10px;
	}
	#HistoryButton:pressed, #HistoryButton:hover{
		background-color: historyButtonAccentuation;
		color: windowBackgroundColor;
	}
	#HistoryButton:disabled{
		background-color: historyButtonDisabled;
		color: windowBackgroundColor;
	}

/* Close Button */
	#closeButton{
		color: navTabCloseButtonAccentuation;
		border-radius: 5px;
		font-size: 18px;
		border: none;
	}
	#closeButton:pressed, #closeButton:hover{
		background-color: navTabCloseButtonAccentuation;
		color: windowBackgroundColor;
	}